<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<title>Salles</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div layout:fragment="content">
	
		<div id="filtre">
			
		</div>

		<table id="example" class="table table-striped table-bordered hover" style="width: 100%">
			<thead>
				<tr>
					<th>Groupe</th>
					<th>Semaine</th>
					<th>Date</th>
					<th>Jour</th>
					<th>Heure début</th>
					<th>Heure fin</th>
					<th>Durée prévue</th>
					<th>Durée module</th>
					<th>Spécialité</th>
					<th>Module</th>
					<th>Intervenant</th>
					<th>Salle</th>
					<th>Remarque</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Groupe</th>
					<th>Semaine</th>
					<th>Date</th>
					<th>Jour</th>
					<th>Heure début</th>
					<th>Heure fin</th>
					<th>Durée prévue</th>
					<th>Durée module</th>
					<th>Spécialité</th>
					<th>Module</th>
					<th>Intervenant</th>
					<th>Salle</th>
					<th>Remarque</th>
				</tr>
			</tfoot>
		</table>

	</div>

</body>
</html>