<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<title>Lister les salles</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" th:src="@{/assets/js/metier/salle.js}"></script>
</head>
<body>

	<div layout:fragment="content">


		<script th:inline="none">
			/*<![CDATA[*/

			$(document).ready(function() {
				$('#example').DataTable({
					"dom": '<"toolbar">frtip',
					"processing": true,
					"serverSide" : true,
					"ordering": true,
					"order" : [[ 1, "asc" ]],
					"pageLength": 10,
					"searchDelay": 0,
					"ajax": {
		                "url": "/rest/salles"
		            },
					"columns": [
			            {	data: "id",
			            	searchable: false,
			            	width: "30px"
			            },
			            {	data: "libelle" },
						{
				            className:      "colonne-modifier dt-center",
				            orderable:      false,
				            searchable:     false,
				            data:           null,
				            width: '100px',
				            render: function ( data, type, row ) {
				                return "<a href=\"/salle/update.html?id=" + data.id + "\"><span class=\"fas fa-edit btn btn-primary\"></span></a>";
				            }
				        },
						{
				            className:      "colonne-supprimer dt-center",
				            orderable:      false,
				            searchable:     false,
				            data:           null,
				            width: '100px',
				            render: function ( data, type, row ) {
				                return "<a href=\"/salle/delete.html?id=" + data.id + "\"><span class=\"fas fa-trash-alt btn btn-danger\"></span></a>";
				            }
				        }
			        ]
				});
				$("div.toolbar").html('<a href="#" onclick="javascript:openSalleModal();" class="btn btn-outline-success"><span class="fas fa-plus-square"></span> Ajouter une salle</a>');
			});

			/*]]>*/
		</script>

		<table id="example" class="table table-striped table-bordered hover" style="width: 100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Libelle</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>ID</th>
					<th>Libelle</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</tfoot>
		</table>

		<div layout:insert="fragments/modal :: modal(modalId='salleModal', modalHeader='msg.0000', modalButton='cancel|msg.0001,submit|msg.0002')" th:remove="tag">
			<form layout:fragment="modal-content" action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
<!-- 				<div class="form-group"> -->
<!-- 					<label for="exampleInputEmail1">Email address</label> <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> <small -->
<!-- 						id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
<!-- 				</div> -->
<!-- 				<div class="form-group"> -->
<!-- 					<label for="exampleInputPassword1">Password</label> <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
<!-- 				</div> -->
<!-- 				<div class="form-check"> -->
<!-- 					<input type="checkbox" class="form-check-input" id="exampleCheck1"> <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
<!-- 				</div> -->

				<div class="form-group">
					<label for="libelle" th:text="#{msg.0003}"></label> 
					<input type="text" class="form-control" id="libelle" aria-describedby="libelleHelp" th:placeholder="#{msg.0004}">
					<small id="libelleHelp" class="form-text text-muted" th:text="#{msg.0005}"></small>
				</div>
			</form>
		</div>

	</div>

</body>
</html>