<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
<title>Formations</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="all" th:href="@{/assets/css/bootstrap-datepicker3.min.css}">

<script type="text/javascript" th:src="@{/assets/js/metier/formation.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/datatables/datetime.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/moment-with-locales.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/datepicker/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/datepicker/bootstrap-datepicker.fr.min.js}"></script>

</head>
<body>

	<div layout:fragment="content">

		<script th:inline="javascript">
			/*<![CDATA[*/
				
			var storedMessage = ""; 

			$(document).ready(function() {
				$('#example').DataTable({
					"dom": '<"toolbar">rtip',
					"processing": true,
					"serverSide" : true,
					"ordering": true,
					"order" : [ [ 2, "asc" ] ], /* mettre des espaces pour éviter collision avec Thymeleaf */
					"pageLength": 10,
					"searchDelay": 0,
					"ajax": {
		                "url": "/rest/formations"
		            },
					"columns": [
			            {	data: "id",
			            	searchable: false,
			            	width: "30px"
			            },
			            {	data: null,
			            	"render": function ( data, type, row, meta ) {
		            	    	return moment(row.anneeScolaireDateDebut, 'YYYY-MM-DD').format('YYYY') + '/' + moment(row.anneeScolaireDateFin, 'YYYY-MM-DD').format('YYYY');
		            	    }
			            },
			            {	data: "libelle" },
			            {	data: "anneeScolaireDateDebut",
			            	render: $.fn.dataTable.render.moment( 'DD/MM/YYYY' )
			            },
			            {	data: "anneeScolaireDateFin",
			            	render: $.fn.dataTable.render.moment( 'DD/MM/YYYY' )
			            },
			            {	data: "dateFinSemestre1",
			            	render: $.fn.dataTable.render.moment( 'DD/MM/YYYY' )
			            },
						{
				            className:      "colonne-modifier dt-center",
				            orderable:      false,
				            searchable:     false,
				            data:           null,
				            width: '100px',
				            render: function ( data, type, row ) {
				                return "<a href=\"#\" onclick=\"javascript:openModalUpdate('formationUpdate', " + data.id + ");\"><span class=\"fas fa-edit btn btn-primary\"></span></a>";
				            }
				        },
						{
				            className:      "colonne-supprimer dt-center",
				            orderable:      false,
				            searchable:     false,
				            data:           null,
				            width: '100px',
				            render: function ( data, type, row ) {
				                return "<a href=\"#\" onclick=\"javascript:openModalDelete('formationDelete', " + data.id + ");\"><span class=\"fas fa-trash-alt btn btn-danger\"></span></a>";
				            }
				        }
			        ]
				});
				$("div.toolbar").html('<a href="#" onclick="javascript:openModalCreate(\'formationCreate\');" class="btn btn-outline-success"><span class="fas fa-plus-square"></span> ' + [[#{msg.0024}]] + '</a>');
				
				$('#modal-form-formationCreate, #modal-form-formationUpdate').submit(function(e) {
					var diz = $(this);
				    $.ajax({
						type: "POST",
						url: diz.attr('action'),
						data: diz.serialize(),
						success: function(response) {
							if(response.status == 'ERROR') {
								$.each(response.listError, function(k, v) {
									diz.parent().find("#" + v.field).next().remove();
									diz.parent().find("#" + v.field).after("<small class=\"text-danger\">" + v.defaultMessage + "</small>");
								});
							} else {
								window.location.replace(response.returnUrl);
							}
						}
					});
				    e.preventDefault();
				});
				
			
				var storedMessage = $("#modal-container-formationDelete #message").html();
				
				$('#modal-container-formationDelete').on('hidden.bs.modal', function (e) {
					$(this).find("#message").html(storedMessage);
				});
				
				$('#modal-form-formationDelete').submit(function(e) {
					var diz = $(this);
				    $.ajax({
						type: "POST",
						url: diz.attr('action'),
						data: diz.serialize(),
						success: function(response) {
							if(response.status == 'ERROR') {
								$.each(response.listError, function(k, v) {
									diz.parent().find("#message").html(v.defaultMessage);
								});
							} else {
								window.location.replace(response.returnUrl);
							}
						}
					});
				    e.preventDefault();
				});
				
				$('#modal-form-formationCreate #dateFinSemestre1').datepicker({
				    format: "dd/mm/yyyy",
				    todayBtn: "linked",
				    language: "fr",
				    daysOfWeekHighlighted: "0,6",
				    calendarWeeks: true,
				    autoclose: true,
				    todayHighlight: true
				});
				
				$('#modal-form-formationUpdate #dateFinSemestre1').datepicker({
				    format: "dd/mm/yyyy",
				    todayBtn: "linked",
				    language: "fr",
				    daysOfWeekHighlighted: "0,6",
				    calendarWeeks: true,
				    autoclose: true,
				    todayHighlight: true
				});

			});

			/*]]>*/
		</script>

		<table id="example" class="table table-striped table-bordered hover" style="width: 100%">
			<thead>
				<tr>
					<th>[[#{msg.0006}]]</th>
					<th>[[#{msg.0025}]]</th>
					<th>[[#{msg.0003}]]</th>
					<th>[[#{msg.0014}]]</th>
					<th>[[#{msg.0015}]]</th>
					<th>[[#{msg.0032}]]</th>
					<th>[[#{msg.0007}]]</th>
					<th>[[#{msg.0008}]]</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>[[#{msg.0006}]]</th>
					<th>[[#{msg.0025}]]</th>
					<th>[[#{msg.0003}]]</th>
					<th>[[#{msg.0014}]]</th>
					<th>[[#{msg.0015}]]</th>
					<th>[[#{msg.0032}]]</th>
					<th>[[#{msg.0007}]]</th>
					<th>[[#{msg.0008}]]</th>
				</tr>
			</tfoot>
		</table>

		<div layout:insert="fragments/modal :: modal(modalId='formationCreate', modalHeader='msg.0024', modalButton='cancel|msg.0001,submit|msg.0002')" th:remove="tag">
			<form id="modal-form-formationCreate" layout:fragment="modal-content" action="#" th:action="@{/rest/formations/save}" th:object="${formation}" method="post">
				
				<!-- annee scolaire -->
				<div class="form-group row">
					<label for="anneeScolaire" th:text="#{msg.0025}" class="col-sm-3 col-form-label col-form-label-sm" ></label>
					<div class="col-sm-9">
						<select th:field="*{anneeScolaire}" class="form-control form-control-sm">
							<option th:each="anneeScolaire : ${listAnneeScolaire}" th:value="${anneeScolaire.id}" th:text="${#temporals.format(anneeScolaire.dateDebut, 'yyyy')} + ' - ' + ${#temporals.format(anneeScolaire.dateFin, 'yyyy')}"></option>
						</select>
						<small th:if="${#fields.hasErrors('anneeScolaire')}" th:errors="*{anneeScolaire}" class="text-muted"></small>
					</div>
				</div>
				
				<!-- libellé -->
				<div class="form-group row">
					<label for="libelle" th:text="#{msg.0003}" class="col-sm-3 col-form-label col-form-label-sm" ></label>
					<div class="col-sm-9">
						<input type="text" th:field="*{libelle}" th:placeholder="#{msg.0004}" class="form-control form-control-sm" />
						<small th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}" class="text-muted"></small>
					</div>
				</div>
				
				<!-- date fin semestre 1 -->
				<div class="form-group row">
					<label for="dateFinSemestre1" th:text="#{msg.0032}" class="col-sm-3 col-form-label col-form-label-sm" ></label>
					<div class="col-sm-9">
						<input type="text" th:field="*{dateFinSemestre1}" th:placeholder="#{msg.0017}" class="form-control form-control-sm" />
						<small th:if="${#fields.hasErrors('dateFinSemestre1')}" th:errors="*{dateFinSemestre1}" class="text-muted"></small>
					</div>
				</div>

			</form>
		</div>

		<div layout:insert="fragments/modal :: modal(modalId='formationUpdate', modalHeader='msg.0029', modalButton='cancel|msg.0001,submit|msg.0007')" th:remove="tag">
			<form id="modal-form-formationUpdate" layout:fragment="modal-content" action="#" th:action="@{/rest/formations/save}" th:object="${formation}" method="post">

				<!-- id -->
				<input type="hidden" th:field="*{id}" />

				<!-- annee scolaire -->
				<div class="form-group row">
					<label for="anneeScolaire" th:text="#{msg.0025}" class="col-sm-3 col-form-label col-form-label-sm"></label>
					<div class="col-sm-9">
						<select th:field="*{anneeScolaire}">
							<option th:each="type : ${allTypes}" th:value="${type}" th:text="#{${'seedstarter.type.' + type}}">Wireframe</option>
						</select> <small th:if="${#fields.hasErrors('dateDebut')}" th:errors="*{dateDebut}" class="text-muted"></small>
					</div>
				</div>

				<!-- libellé -->
				<div class="form-group row">
					<label for="libelle" th:text="#{msg.0003}" class="col-sm-3 col-form-label col-form-label-sm"></label>
					<div class="col-sm-9">
						<input type="text" th:field="*{libelle}" th:placeholder="#{msg.0004}" class="form-control form-control-sm" /> <small th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}"
							class="text-muted"></small>
					</div>
				</div>

				<!-- date fin semestre 1 -->
				<div class="form-group row">
					<label for="dateFinSemestre1" th:text="#{msg.0027 + ' - ' + msg.0015}" class="col-sm-3 col-form-label col-form-label-sm" ></label>
					<div class="col-sm-9">
						<input type="text" th:field="*{dateFinSemestre1}" th:placeholder="#{msg.0017}" class="form-control form-control-sm" />
						<small th:if="${#fields.hasErrors('dateFinSemestre1')}" th:errors="*{dateFinSemestre1}" class="text-muted"></small>
					</div>
				</div>

			</form>
		</div>

		<div layout:insert="fragments/modal :: modal(modalId='formationDelete', modalHeader='msg.0030', modalButton='cancel|msg.0001,submitDanger|msg.0008')" th:remove="tag">
			<form id="modal-form-formationDelete" layout:fragment="modal-content" action="#" th:action="@{/rest/formations/delete}" th:object="${formation}" method="post">
				<input type="hidden" th:field="*{id}" />
				<p id="message" class="text-center" th:utext="#{msg.0031}"></p>
			</form>
		</div>

	</div>

</body>
</html>